<section class="o-contact">
  <div class="o-contact__content">
    <p class="o-contact__content__description">Obrigado por visitar o meu portfólio! Cada projeto aqui reflete minha paixão por criar experiências únicas e funcionais para os usuários. Se você compartilha dessa visão ou quer trocar ideias sobre projetos futuros, será um prazer conversar. Vamos construir algo incrível juntos!</p>
    <div class="o-contact__content__links">
      <a href="mailto:carol.silvasouza@hotmail.com" target="_blank">
        <img src="assets/images/icons/svg/mail.svg" alt="Icone email">
        <p>carol.silvasouza&#64;hotmail.com</p>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5511983973518&text=Ol%C3%A1%20Caroline,%20preciso%20de%20um%20job!" target="_blank">
        <img src="assets/images/icons/svg/whatsapp.svg" alt="Icone whatsapp">
        <p>+55 11 98397-3518</p>
      </a>
      <a href="https://github.com/caheyes" target="_blank">
        <img src="assets/images/icons/svg/iconGithub.svg" alt="Icone GitHub">
        <p>&#64;caheyes</p>
      </a>
    </div>
  </div>
</section>