@import 'assets/scss/index';

.o-menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-auto-flow: row;
  place-content: center;
  place-items: center;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  transform: translateX(0);

  &__title {
    @include font-title(37, 'FiraSans-Bold', $font-suport-white, center);

    margin-bottom: 80px;
  }

  &__nav {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;

    &__link {
      transition: 0.3s;
      @include font-custom(32, 'FiraSans-SemiBold', $font-suport-white, center);

      &:hover {
        transform: scale(1.2);
        color: $primary;
      }
    }
  }

  &--open {
    opacity: 1;
    visibility: visible;
  }
}