<section class="o-experiences">
  <div class="o-experiences__content">
    <h3>Experiência</h3>
    <div class="o-experiences__content__block">
      <p class="o-experiences__content__block__description">Desenvolvedora web com sólida experiência em <strong>JavaScript</strong> e frameworks modernos como <strong>Vue.js</strong>, <strong>Angular</strong> e <strong>Quasar</strong>. Atuei em projetos de grande escala com integração de <strong>APIs REST</strong>, o que me permitiu aprimorar minhas habilidades técnicas e colaborativa.</p>
      <atom-experiences />
    </div>
  </div>
</section>