@use '../thema/index' as *;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'FireSans-Regular', Arial, sans-serif;
  background: $white;
}

h1, h2, h3, a {
  color: $font-suport-1;
  text-decoration: none;
  margin: 0;
}

p {
  color: $font-suport-2;
  font-size: 16px;
  margin: 10px 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
