@mixin btn-icon() {
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

@mixin btn-primary(
  $min-width: 192px,
) {
  min-width: $min-width;
  padding: 10px 22px;;
  border-radius: 5px;
  background: $primary;
  font-size: 24px;
  font-family: 'FireSans-Regular';
  color: $font-suport-white;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background: $primary-010;
  }
}

@mixin btn-secondary(
  $min-width: 192px,
  ) {
  min-width: $min-width;
  padding: 10px 22px;
  border-radius: 5px;
  background: $secondary;
  font-size: 24px;
  font-family: 'FireSans-Regular';
  color: $font-suport-white;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background: $secondary-010;
  }
}

@mixin btn-round(
  $color: $primary,
  $font-size: 12
  ) {
  border: 1px solid $primary;
  border-radius: 20px;
  font-size: rem($font-size);
  font-family: 'FireSans-Regular';
  color: $font-suport-white;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  padding: 2px 10px;

  &:hover {
    transform: scale(1.1);
    background: $primary;
  }
}
