@mixin container($width: 1240) {
  max-width: $width + px;
  width: 100%;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 40px 20px;
}

@mixin flag(
  $top: -15,
  $left: -40,
  $zIndex: -1
) {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url('../../images/icons/svg/iconFlag.svg') no-repeat center;
  position: absolute;
  top: $top + px;
  left:  $left + px;
  z-index: $zIndex;
}

@mixin min-flag() {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient($primary-010, $primary);
  position: absolute;
  top: 20px;
  left: -4px;
}