.darkmode {
  .o-about {
    background-color: $black-10;

    &__content {
      &__description {
        h2 {
          z-index: 1;
          color: $font-suport-white !important;
          }
        }

        p {
          color: $font-suport-4;
        }
    }
  }

  .o-experiences {
    background-color: $black-10;

    &__content {
      h3 {
        color: $black !important;
      }
      &__block {
        &__description {
          color: $font-suport-4;
          strong {
            color: $font-suport-white !important;
          }
        }
      }
    }
  }

  .a-experiences {
    &__experience {
      background: $black !important;

      &__time {
        color: $font-suport-4;
      }

      &__title {
        color: $font-suport-white !important;
      }

      &__description {
        color: $font-suport-4;
      }

      &__tags {
        &__tag {
          background: #141414 !important;
          color: $font-suport-white !important;
        }
      }
    }
  }

  .o-projects {
    background: $black-20 !important;

    h3 {
      color: $font-suport-2 !important;
    }
  }
}
