<section class="a-about">
  <div class="a-about__content">
    <img src="assets/images/eu.jpeg" alt="Foto perfil" class="a-about__content__img">
    <div class="a-about__content__description">
      <h2>
        Desenvolvedora
        <br>
        Front End
      </h2>
      <p>Localizada em São Paulo</p>
      <div class="a-about__content__description__actions">
        <a href="https://caheyes.github.io/CV/" target="_blank" class="a-about__content__description__actions__download">Currículo</a>
        <a href="https://www.linkedin.com/in/caroline-souza-7074a1b4/" target="_blank" class="a-about__content__description__actions__linkedin">LinkedIn</a>
      </div>
    </div>
  </div>
</section>