@import 'assets/scss/index';

.a-experiences {
  display: grid;
  gap: 20px;

  &__experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 10px 20px;
    position: relative;
    background: $suport-color-1;
    padding: 20px;

    &::before {
      @include min-flag();
    }

    &__time {
      position: absolute;
      top: 12px;
      left: -140px;
      font-size: rem(14);
      text-align: right;
      width: 120px;
    }

    &__title {
      font-size: rem(18);
    }

    &__description {
      font-size: rem(14);
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      &__tag {
        @include font-custom(14, 'FireSans-Regular', $font-suport-1);
        line-height: 1.4;
        border-radius: 4px;
        background: $white;
        padding: 5px 10px;
        margin: 0;
      }
    }
  }
}