@import 'assets/scss/index';

.a-experiences {
  display: grid;
  gap: 20px;

  &__experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 10px 20px;
    position: relative;
    background: $suport-color-1;
    padding: 20px;

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }

    &::before {
      @include min-flag();
    }

    &__time {
      font-size: rem(14);
      margin: 0;

      @media (min-width: $mobile) {
        position: absolute;
        top: 22px;
        left: -140px;
        width: 120px;
        text-align: right;
      }
    }

    &__title {
      font-size: rem(18);
      margin: 0;
    }

    &__description {
      font-size: rem(14);
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      &__tag {
        @include font-custom(14, 'FireSans-Regular', $font-suport-1);
        line-height: 1.4;
        border-radius: 4px;
        background: $white;
        padding: 5px 10px;
        margin: 0;
      }
    }
  }
}
