<div class="a-experiences">
  @for(experience of listExperiences(); track experience;) {
  <div class="a-experiences__experience">
    <p class="a-experiences__experience__time">{{experience.time}}</p>
    <h3 class="a-experiences__experience__title">{{experience.title}}</h3>
    <h3 class="a-experiences__experience__title">{{experience.position}}</h3>
    <p class="a-experiences__experience__description">{{experience.description}}</p>
    <div class="a-experiences__experience__tags">
      @for(tag of experience.tags; track tag;) {
      <span class="a-experiences__experience__tags__tag">{{tag}}</span>
      }
    </div>
  </div>
  }
</div>