@font-face {
  font-family: 'FireSans-Regular';
  src: url('../../files/fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url('../../files/fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url('../../files/fonts/FiraSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../../files/fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-ExtraBold';
  src: url('../../files/fonts/FiraSans-ExtraBold.ttf') format('truetype');
}